.profile__buttonEdit {
  width: 24px;
  height: 24px;
  margin-left: 18px;
  padding: 0;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  background-image: url(../../../images/buttonEdit.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__buttonEdit:hover {
  opacity: 60%;
}

@media screen and (max-width: 650px) {
  .profile__buttonEdit {
    margin-left: 10px;
  }
}
