.ppEditProfile__profile-info {
  width: 358px;
  margin: 0 0 0 36px;
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 680px) {
  .ppEditProfile__profile-info {
    width: 238px;
    margin-left: 22px;
  }
}
